@model GFS.Models.DB.Account
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<!-- Start Auth Box -->
<div class="row">
    <div class="col-md-6">
        <div class="auth-box-right">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.UserId)
                        <input type="hidden" name="Role" value="User" />


                        <div class="form-head">
                            <a href="@Url.Action("Index","Home")" class="logo"><img src="~/Content/images/logo.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <h4 class="text-primary my-4">Sign Up for User !</h4>

                        <div class="form-group">
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Username" } })
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Email" } })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Phone " } })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Address" } })
                        </div>

                        <div class="form-group">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                        <div class="form-row mb-3">
                            <div class="col-sm-6">
                                <div class="custom-control custom-checkbox text-left">
                                    <input type="checkbox" class="custom-control-input" id="rememberme">
                                    <label class="custom-control-label font-14" for="rememberme">Remember Me</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="forgot-psw">
                                    <a id="forgot-psw" href="user-forgotpsw.html" class="font-14">Forgot Password?</a>
                                </div>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <div class="col-sm-12">
                                <div class="custom-control custom-checkbox text-left">
                                    <input type="checkbox" class="custom-control-input" id="terms">
                                    <label class="custom-control-label font-14" for="terms">I Agree to Terms & Conditions of Minaati</label>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="User Sign Up" class="btn btn-success btn-lg btn-block font-18" />
                        @*<a href="@Url.Action("Index", "Admin")" class="btn btn-success btn-lg btn-block font-18">Log in</a>*@
                        @*<button type="submit" class="btn btn-success btn-lg btn-block font-18">Log in</button>*@


                    }
                    <div class="login-or">
                        <h6 class="text-muted">OR</h6>
                    </div>

                    <p class="mb-0 mt-3">Already have an account? <a href="@Url.Action("Login","Accounts")">Sign In</a></p>
                    <hr />
                    <p class="mb-0 mt-3"><a href="@Url.Action("Index","Home")">Buy Now</a></p>
                </div>
            </div>
        </div>
    </div>
  
  
  
</div>
<!-- End Auth Box -->