@model IEnumerable<GFS.Models.DB.GenralSetting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facebook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Linkedin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Youtube)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pintrest)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facebook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Linkedin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Youtube)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pintrest)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GSId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GSId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GSId })
        </td>
    </tr>
}

</table>
