@model IEnumerable<GFS.Models.DB.FAQ>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ans)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ans)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FAQId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FAQId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FAQId })
        </td>
    </tr>
}

</table>
