@model GFS.Models.DB.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<div class="row">
    <!-- Start col -->
    <div class="col-lg-12 col-xl-10">
        <div class="card m-b-30">
            <div class="card-header">
                <h4 class="card-title mb-0">Add New Product</h4>
            </div>
            <div class="card-body pb-0">


                <form action="@Url.Action("Edit", "Products")" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Product</h4>
                        <hr />

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.PId)
                        @Html.HiddenFor(model => model.UserId)
                        @Html.HiddenFor(model => model.File1)
                        @Html.HiddenFor(model => model.File2)
                        @Html.HiddenFor(model => model.File3)
                        @Html.HiddenFor(model => model.File4)


                        <div class="row text-black">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Select Product Catagory </label>
                                    @Html.DropDownList("CId", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label " })
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Product Price" } })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Enter  Product Name </label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Product Name" } })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Details, "Details", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control", @placeholder = "Product Details" } })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Condition, "Condition", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Condition, new { htmlAttributes = new { @class = "form-control", @placeholder = "Product Condition" } })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Size, "Size", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control", @placeholder = "Product Size" } })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Select Product Status</label>
                                    <select class="form-control" name="Status">
                                        <option value="F">Feature</option>
                                        <option value="N">New</option>
                                        <option value="S">Sale</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Upload Product Photo</label>
                                    <input type="file" name="File1" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-offset-2">
                                        <br />
                                        <input type="submit" value="Add Product" class="btn btn-block btn-success" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

