@model IEnumerable<GFS.Models.DB.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


    @Html.ActionLink("Add New Product", "Create", "Products", null, new { @class = "btn btn-successe" })

@if (this.User.IsInRole("Admin"))
{

    <div class="contentbar">
        <!-- Start row -->
        <div class="row">
            <!-- Start col -->
            <div class="col-lg-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <h6 class="card-subtitle">List of all products</h6>
                        
                        <div class="table-responsive">
                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Product Name
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Details)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Condition)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Size)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Date)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.File1)
                                        </th>


                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                              Rs.  @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Catagory.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Details)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Condition)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Size)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                <img src="@Url.Content("~/assets/images/"+item.File1)" style="width:80px; height:80px" />
                                            </td>


                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.PId }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.PId }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.PId })
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End col -->
        </div>
        <!-- End row -->
    </div>

}
else if (this.User.IsInRole("Vendor"))
{


    <div class="contentbar">
        <!-- Start row -->
        <div class="row">
            <!-- Start col -->
            <div class="col-lg-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <h6 class="card-subtitle">List of all products</h6>
                        <div class="table-responsive">
                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Price)
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            Product Name
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Details)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Condition)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Size)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Date)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.File1)
                                        </th>


                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(x=>x.Account.Role=="Vendor"))
                                    {
                                        <tr>
                                            <td>
                                               Rs.  @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Catagory.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Details)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Condition)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Size)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                <img src="@Url.Content("~/assets/images/"+item.File1)" style="width:80px; height:80px" />
                                            </td>


                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.PId }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.PId }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.PId })
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End col -->
        </div>
        <!-- End row -->
    </div>

}